.container {
    display: flex;
    column-gap: 10rem;
}

.login-container {
    width: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.login-title {
    text-align: center;
}

.login-body {
    width: 20rem;
}

h1 {
    font-weight: 200;
    font-size: 60px;
}

.form-control {
    padding: 10px;
    border: none;
}

.btn {
    width: 100%;
    background-color: #0E4C94;
    color: #F1F1F1;
    padding: 10px;
}

.btn:hover {
    background-color: #05274d;
    transition: 0.2s ease-in;
}

#login-subtext {
    text-align: center;
}

#register-small {
    font-weight: bold;
    color: black;
}

#register-small:hover {
    color: #0E4C94;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}